---
import AppButton from "@/modules/shared/button/app-button.astro"

export interface Props {
  title: string
  pricePerMonth: number
  pricePerYear: number
  per: 'month' | 'year'
  buttonHref: string
}

const { title, pricePerMonth, pricePerYear, per, buttonHref } = Astro.props
---
<div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
  <h3 class="mb-4 text-2xl font-semibold">{title}</h3>

  <div class="flex justify-center items-baseline my-8">
    <span
      class="mr-2 text-5xl font-extrabold"
    >
      <span
        data-price-per-month={pricePerMonth}
        data-price-per-year={pricePerYear}>{pricePerMonth}</span>€
    </span>
    <span class="text-gray-500 dark:text-gray-400">
      /<span data-per="month">{per === 'month' ? 'mois' : 'an'}</span>
    </span>
  </div>

  <slot />

  <AppButton type="primary" href={buttonHref} class="mt-auto">
    Prendre contact
  </AppButton>
</div>
